h1 {
    text-align: center;
  }
  
  main {
     padding: 20px;
  
  }

  body{
    background-image: url(contact-photo.jpeg);
  }

  #profile-pic {

    border-radius: 100%;
    width:300px;
    height:300px;
  
}

.img-div{
  display: flex;
  justify-content: flex-end;
}

#profile-pic:hover {
  transform: scale(1.1);
  transition: scale(1,1);
}

  textarea {
    resize: none;

  }

  input[type="text"], textarea {
    width: 100%;
    font-size: 1.2rem;
    padding: 6px;
    margin: 6px 0;
    border: 2px  solid lightgray;
  }

  form {
      width: 1000px;
      margin: 0 auto;
  }
 
    
@media (max-width: 1020px) {
    form {
      width: 100%;
    }
  }

  button, input[type="reset"] {
  background-color: #90caca;
  color: white;
  padding: 15px;
  font-size: 1rem;
  border: 0; 
  cursor: pointer;
  transition: 0.3;
  border-radius:20px;
  }

  button:hover, input[type="reset"]:hover {
    background-color: white;
    border-radius: 20px;
    color:#90caca;  
  }
  
  .nav{
    background-color: transparent;
    font-family: 'Dancing Script', cursive;
  }

  .current-page{
    background-color:   #90caca;
  }

  label{
    font-size: 45px;
    font-weight: bold;
    color: white;
    text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
    font-family: 'Dancing Script', cursive;
  }
