body {
    margin: 0
  }
  
  li {
    list-style-type: none;
  }
  
  a {

    text-decoration: none;
    color: white;
  }

  nav a:hover {

    background-color:   #90caca;

  }

  * {

    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
  }

  main {
  margin-top: 65px;
}

ul {
  padding: 0;
}

