main {

    text-align: center;
    padding-top: 25px;
    
}

html, body{
  height: 100%;
}
body { 
			background-image: url(profile-pc2.jpeg) ;
			background-position: center center;
			background-repeat:  no-repeat;
			background-attachment: fixed;
			background-size: cover;
      background-color: #90caca;
  
}

div, body{
  margin: 0;
  padding: 0;
  font-family: exo, sans-serif;
  
}
.wrapper {
  height: 100%; 
  width: 100%; 
}

.message {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%; 
  height:100%;
  bottom: 0; 
  display: block;
  position: static;
  background-color: rgba(144,202,202, 0.7) ;
  border-radius: 20px;
  color: black;
  padding: 0.5em;
  
}

.text-div{
  display: flex;
  justify-content: center;
}


  #language-list {

    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
  }

  ul {
    
    padding: 0;

  }

  .nav{
    background-color: transparent;
  }

  .current-page{
    background-color:   #90caca;
  }

  .message-resume{
    font-size: 30px;
    font-family: 'Oleo Script', cursive;
 
  }
  h1, h2{
    font-size: 40px;
    font-weight: bold;
    color: black;
    font-family: 'Dancing Script', cursive;
  }

  .projects{
    font-family: 'Dancing Script', cursive;
    font-size: 80px;
    font-weight: bold;
   
  }

  .project-link{
    font-family: 'Oleo Script', cursive;
    color: #90caca;
    font-size: 50px;
    text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
    padding-top: 200px;
  }

  #profile-pic {

    border-radius: 100%;
    width: 320px;
    height: 320px;
}

.img-div{
  display: flex;
  justify-content: center;
  padding-bottom: 60px;
}

#profile-pic:hover {
  transform: scale(1.1);
  transition: scale(1,1);
}

