nav {

background-color: black;
position: fixed;
top: 0;
left: 0;
right: 0;
font-family: 'Dancing Script', cursive;

}

nav > ul {
    display: flex;
    margin: 0;height="200" width="200"
  }
  
  nav a {
    color: white;
    display: inline-block;
    padding: 15px;
  }

.nav-page{
  font-size: 40px;
  font-family: 'Dancing Script', cursive;
  border-radius: 20px;
}