body{
  background-image: url(office2.jpg);
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.projects-div{
  padding-top: 90px;
}

#language-list{
  padding-top:  70px;
}

iframe{
  border-radius: 20px;
 
}

.git-icon{
  height: 60px;
  width: 60px;
  border-radius: 100%;
}